@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

.row {
    margin: 0px !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background: #383838;
    color: black;
    display: flex;
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #383838;
    position: fixed;
    width: 100%;
    z-index: 99999999;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
}

.navbar.sticky {
    background: #383838;
    padding: 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    height: 80px;
    width: 100px;
}

.navbar .menu-list {
    display: inline-flex;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}

.menu-list li {
    padding: 16px;
    list-style: none;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    text-transform: uppercase;
}

.menu-list li .active {
    color: #fea800;
}

.menu-list li a:hover {
    color: #fea800;
}

.menu-list li a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #fea800;
}

.icon {
    color: #a2a2a2;
    font-size: 30px;
    cursor: pointer;
    display: none;
    position: absolute;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

main {
    background-color: #1e1e1e;
}






/***********************************          BANNER SECTION        *****************************/
.banner-section {
    background-color: #1e1e1e;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: 107% 125%;
    background-size: 45%;
}

.banner-wrapper {
    max-width: 1100px;
    min-height: 540px;
    margin: 0 auto;
    padding: 100px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-wrapper p {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    color: #999999;
    margin-bottom: 35px;
}

.banner-wrapper p a {
    color: #fea800;
    font-weight: bold;
    text-transform: uppercase;
}

.banner-wrapper h1 {
    font-size: 65px;
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    line-height: 72px;
}






/***********************************          ABOUT-US SECTION        *********************************/
.about-section {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: -38% 30%;
    background-size: 60%;
    background-color: #1e1e1e;
}

.about-wrapper {
    background-color: #383838;
    color: #fff;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 60px 30px 60px;
}

.about-image {
    max-width: 420px;
    max-height: 590px;
    border: 0.5px solid #6a6a6a;
    padding: 15px;
}

.about-image img {
    width: 100%;
    height: 100%;
}

.about-content {
    padding-left: 40px;
}

.about-content h2 {
    font-size: 24px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    padding-bottom: 25px;
    margin-top: 25px;
}

.about-content h2::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #fea800;
    font-weight: bold;
    margin-right: 15px;
}

.about-content h5 {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    padding-bottom: 15px;
}

.about-content p {
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    color: #999999;
    padding-bottom: 35px;
}

.about-content h4 {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    color: #fea500;
    font-weight: 500;
}






/***********************************          MANAGEMENT SECTION        *********************************/
.management-wrapper {
    background-color: #383838;
    color: #fff;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 60px 100px 60px;
}

.management-wrapper h2, .project-wrapper h2 {
    font-size: 24px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #fff;
}

.management-wrapper h2::before, .management h3::before, .project-wrapper h2::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #fea800;
    font-weight: bold;
    margin-right: 15px;
}

.management-wrapper p {
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    color: #fff;
    padding-bottom: 15px;
}

.management {
    height: 100px;
    width: 100%;
    border: 0.5px solid #6a6a6a;
    padding-top: 30px;
    padding-left: 20px;
    margin: 10px 0px;
}

.management h3 {
    font-size: 16px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    color: #fff;
    display: flex;
}

.management p {
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    color: #999999;
    padding-left: 20px;
}






/***********************************          PROJECT SECTION SECTION        *********************************/
.project-section {
    background-color: #1e1e1e;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: 162% 90%;
    background-size: 50%;
}

.project-wrapper {
    background-color: #383838;
    color: #fff;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 60px 60px 60px;
}

.row>* {
    padding-right: 0px !important;
    padding-left: 0px !important
}

.north {
    background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url("../images/project-01.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 685px;
    padding: 50px 20px 0px 50px;
    background-size: cover;
}

.north img {
    height: 35px;
    width: 62px;
    margin: 15px 0px;
}

.north h3 {
    font-size: 22px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    padding-bottom: 20px;
}

.north p {
    font-size: 12px;
    line-height: 24px;
    font-family: 'Montserrat-Regular';
}

.know-btn {
    width: 160px;
    height: 45px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #fea501;
    border: 2px solid transparent;
    font-family: 'Montserrat-Regular';
    font-weight: 500;
    font-size: 15px;
    margin-top: 50px;
    transition: all 0.5s ease;
}

.know-btn:hover {
    border-color: #fea501;
    color: #fea501;
    background-color: transparent;
    font-weight: bold;
}

.yoopune {
    background-image: url("../images/project-02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 685px;
    padding: 50px 20px 0px 50px;
    background-size: cover;
    position: relative;
}

.yoopune img {
    position: absolute;
    bottom: 14%;
    left: 17%;
    width: 80px;
    height: 25px;
    opacity: 1;
}






/***********************************          DEVELOPER SECTION        *********************************/
.developer-section {
    background-color: #1e1e1e;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: -37% 100%;
    background-size: 50%;
    padding-bottom: 100px;
}

.developer-wrapper {
    background-color: #383838;
    color: #fff;
    max-width: 1100px;
    min-height: 850px;
    margin: 0 auto;
    padding: 10px 60px 60px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.developer {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 50px;
    text-align: right;
}

.developer h2 {
    font-size: 24px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #fff;
    display: flex;
    align-items: center;
}

.developer h2::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #fea800;
    font-weight: bold;
    margin-left: 15px;
}

.developer img {
    height: 125px;
    width: 125px;
    margin: 15px 0px;
}

.developer p {
    padding-top: 20px;
    font-size: 16px;
    font-family: 'Montserrat-Regular';
    line-height: 36px;
}

.developer .know-btn {
    margin-top: 10px;
}

.slider-wrapper {
    padding-top: 15px;
    min-width: 46%;
    height: 780px;
    overflow: hidden;
}

.slides-container {
    height: 90%;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    position: relative;
}

.slide-image {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.navigation-dots {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.single-dot {
    background: #fff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 400ms;
}

.single-dot.active {
    background: #fea800;
}






/*********************************          INVESTORS SECTION       *************************/
.investors-section {
    margin-top: 0px;
    padding-bottom: 60px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: -50% 100%;
    background-size: 58%;
}

.investors-wrapper {
    color: #fff;
    max-width: 1100px;
    margin: -40px auto 0 auto;
    padding: 0px 30px 60px 60px;
}

.investors-wrapper .investors-heading {
    padding-left: 0px;
}

.investors-wrapper .investors-heading h2 {
    font-size: 24px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 25px;
    color: #fff;
    display: flex;
    align-items: center;
}

.investors-wrapper .investors-heading h2::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #fea800;
    font-weight: bold;
    margin-right: 15px;
}

.investors-wrapper .investors-heading p {
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    color: #fff;
}






/*********************************          ACCORDION WRAPPER       *************************/
.accordion-wrapper {
    color: #fff;
    max-width: 1100px;
    margin: -40px auto 0 auto;
    padding: 0px 0px 60px 0px;
}

.accordion {
    width: 100%;
    margin: 32px auto;
}

.accordion-item {
    background-color: transparent;
    color: #111;
    margin: 10px 0;
}

.accordion-item-header {
    height: 70px;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    color: #fff;
    background-color: #383838;
    padding-left: 5%;
}

.accordion-item-header::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    font-size: 16px;
    position: absolute;
    padding: 4px 3px;
    right: 40px;
    color: #fea501;
}

.accordion-item-header.active::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
    font-size: 16px;
    position: absolute;
    padding: 4px 3px;
    right: 40px;
    color: #fea501;
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-item-body-content {
    padding: 10px 15px;
    text-align: justify;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
    background: transparent;
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    font-weight: 400;
}

.accordion-item-body-content ul {
    list-style: none;
}

.accordion-item-body-content ul li {
    line-height: 14px;
}

.accordion-item-body-content ul li:hover {
    color: #fea501;
}

.accordion-item-body-content ul li::before {
    content: "\2022";
    color: #fea501;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    width: 25px;
    margin-top: 16px;
    margin-left: -16px;
}

.accordion-item-body-content ul li:nth-child(2) {
    color: #fea501;
}






/*********************************          DEBENTURE WRAPPER       *************************/
.debenture-wrapper {
    background-color: #383838;
    color: #fff;
    max-width: 1100px;
    margin: -40px auto 0 auto;
    padding: 30px 0px 20px 60px;
}

.debenture-wrapper .debenture-text h3 {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    color: #fea500;
    padding: 10px 0px;
}

.debenture-wrapper .debenture-text p {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    font-weight: 100;
    line-height: 8px;
}

.debenture-wrapper .debenture-text p span {
    margin-right: 15px;
}






/*********************************          REDRESSAL WRAPPER       *************************/
.redressal-wrapper {
    background-color: #383838;
    color: #fff;
    max-width: 1100px;
    margin: 50px auto 0px auto;
    padding: 30px 45px 20px 60px;
}

.redressal-wrapper .redressal-text h3 {
    font-size: 18px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    color: #fea500;
    padding: 10px 0px;
}

.redressal-wrapper .redressal-text p {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    font-weight: 100;
    line-height: 22px;
}

.redressal-wrapper .redressal-text .address {
    margin-top: 35px;
}

.redressal-wrapper .redressal-text .address p {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    font-weight: 100;
    line-height: 8px;
}

.redressal-wrapper .redressal-text .address p span {
    margin-right: 15px;
}






/*********************************          GALLERY WRAPPER       *************************/
.gallery-section {
    background-color: #1e1e1e;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: 162% 86%;
    background-size: 50%;
}

.gallery-wrapper {
    background-color: #383838;
    color: #fff;
    max-width: 1100px;
    margin: 20px auto 0px auto;
    padding-bottom: 20px;
}

.gallery-wrapper h2 {
    font-size: 24px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 30px 60px 20px 60px;
}

.gallery-wrapper h2::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #fea800;
    font-weight: bold;
    margin-right: 15px;
}

.image-gallery {
    margin: auto;
    padding: 30px 60px 0px 60px;
    max-width: 100%;
    position: relative;
}

.image-container {
    width: 100%;
    height: 500px;
    position: relative;
    background: #fff;
}

.thumbnails {
    width: 100%;
    display: flex;
}

.thumbnails label {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-size: cover;
    margin: 0;
    flex: 1 1 150px;
    cursor: pointer;
}

.image-1, .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9 {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.image-1, .thumbnails label[for="image1"] {
    background-image: url('../images/Gallery/Gallery-1.png');
}

.image-2, .thumbnails label[for="image2"] {
    background-image: url('../images/Gallery/Gallery-2.png');
}

.image-3, .thumbnails label[for="image3"] {
    background-image: url('../images/Gallery/Gallery-3.png');
}

.image-4, .thumbnails label[for="image4"] {
    background-image: url('../images/Gallery/Gallery-4.png');
}

.image-5, .thumbnails label[for="image5"] {
    background-image: url('../images/Gallery/Gallery.png');
}

.image-6, .thumbnails label[for="image6"] {
    background-image: url('../images/Gallery/Gallery-6.png');
}

.image-7, .thumbnails label[for="image7"] {
    background-image: url('../images/Gallery/Gallery-7.png');
}

.image-8, .thumbnails label[for="image8"] {
    background-image: url('../images/Gallery/Gallery-8.png');
}

.image-9, .thumbnails label[for="image9"] {
    background-image: url('../images/Gallery/Gallery-9.png');
}

#image1:checked+.image-1, #image2:checked+.image-2, #image3:checked+.image-3, #image4:checked+.image-4, #image5:checked+.image-5, #image6:checked+.image-6, #image7:checked+.image-7, #image8:checked+.image-8, #image9:checked+.image-9 {
    opacity: 1;
}

.image-gallery input[type="radio"] {
    position: absolute;
    top: 370px;
    z-index: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    background-color: #00000033;
    height: 16px;
    width: 16px;
    border: 3px solid #f1f1f1;
    border-radius: 16px;
    cursor: pointer;
    visibility: hidden;
    outline: none;
    box-shadow: 0px 1px 4px #00000088;
}

.image-gallery input[type="radio"]:nth-of-type(1) {
    left: 50%;
    margin-left: -36px;
}

.image-gallery input[type="radio"]:nth-of-type(2) {
    left: 50%;
    margin-left: -12px;
}

.image-gallery input[type="radio"]:nth-of-type(3) {
    left: 50%;
    margin-left: 12px;
}

.image-gallery input[type="radio"]:nth-of-type(4) {
    left: 50%;
    margin-left: 12px;
}

.image-gallery input[type="radio"]:nth-of-type(5) {
    left: 50%;
    margin-left: 12px;
}

.image-gallery input[type="radio"]:nth-of-type(6) {
    left: 50%;
    margin-left: 12px;
}

.image-gallery input[type="radio"]:nth-of-type(7) {
    left: 50%;
    margin-left: 12px;
}

.image-gallery input[type="radio"]:nth-of-type(8) {
    left: 50%;
    margin-left: 12px;
}

.image-gallery input[type="radio"]:nth-of-type(9) {
    left: 50%;
    margin-left: 36px;
}

.image-gallery label.prev, .image-gallery label.next {
    position: absolute;
    top: 50%;
    z-index: 100;
    color: #fff;
    background-color: #fea500;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    cursor: pointer;
}

.image-gallery label.prev:before {
    content: '\2190';
}

.image-gallery label.next:before {
    content: '\2192';
}

.image-gallery label.prev {
    left: 10px;
}

.image-gallery label.next {
    right: 10px;
}

.image-1 figcaption, .image-2 figcaption, .image-3 figcaption, .image-4 figcaption, .image-5 figcaption, .image-6 figcaption, .image-7 figcaption, .image-8 figcaption, .image-9 figcaption {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 15px;
    background-color: rgba(60, 52, 46, 0.6);
    font-size: 15px;
    color: #fff;
}






/*********************************          Responsive Design       *************************/
.contact-section {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: -50% 76%;
    background-size: 58%;
}

.contact-section h2, .contact-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 50px 40px 50px;
    font-size: 24px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
}

.contact-section h2::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #fea800;
    font-weight: bold;
    margin-right: 15px;
}

.map-image {
    width: 100%;
    max-height: 800px;
    left: 0%;
}

.map-image img {
    width: 100%;
    height: 100%;
}

.contact-wrapper {
    margin-top: 50px;
    width: 100%;
    min-height: 450px;
    background-color: #383838;
}

.contact-wrapper .contract {
    padding-left: 50px;
    padding-bottom: 25px;
}

.contact-wrapper .contract h6 {
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
    font-weight: bold;
    color: #fea500;
    padding: 20px 10px 15px 10px;
}

.contact-wrapper .contract h3 {
    font-size: 36px;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    color: #fff;
    padding-bottom: 15px;
}

.contact-wrapper .contract h5 {
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
    font-weight: bold;
    color: #fea500;
    padding: 20px 10px 2px 10px;
}

.contact-wrapper .contract ul li {
    list-style: none;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    font-weight: 100;
    margin-left: -20px;
}






/*********************************          QUESTION WRAPPER       *************************/
.question-wrapper {
    max-width: 1100px;
    min-height: 550px;
    margin: 45px auto 0px auto;
    background: #383838;
}

.question-wrapper h1 {
    font-size: 30px;
    padding: 50px 50px 40px 50px;
    font-family: 'Montserrat-Regular';
    font-weight: 600;
    color: #fea500;
}











/*********************************          Responsive Design       *************************/
@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
    .accordion, .debenture-wrapper, .redressal-wrapper, .gallery-wrapper, .contact-wrapper, .question-wrapper {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 930px) {
    .content {
        padding: 5px 30px;
        height: 80px;
    }
    .navbar .logo a img {
        height: 50px;
        width: 60px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 16%;
    }
    .slider-wrapper, .developer {
        width: 100%;
    }
    .redressal-wrapper .redressal-text .address p, .redressal-wrapper .redressal-text p, .debenture-wrapper .debenture-text p {
        line-height: normal;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        height: 120vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.7s ease;
    }
    .navbar.show .menu-list {
        transition: all 1s ease;
        left: 0%;
    }
    .menu-list li {
        padding: 5px 15px;
        list-style: none;
        font-size: 14px;
        font-family: 'Montserrat-Regular';
        font-weight: bold;
        text-transform: uppercase;
    }
    .menu-list li .active {
        color: #fea800;
    }
    .menu-list li a:hover {
        color: #fea800;
    }
    .menu-list li a {
        color: #fff;
        margin-top: 20px;
        display: block;
        text-decoration: none;
        transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .menu-list li a:hover {
        color: #fea800;
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
        transition: all 0.7s ease;
    }
    .banner-section {
        background: transparent
    }
    .about-content {
        padding-left: 0px;
    }
    .about-content h5 {
        text-align: left;
        line-height: 30px;
    }
    .about-content p {
        text-align: justify;
    }
    .north {
        padding: 15px 10px 0px 10px;
    }
    .north h3 {
        padding-bottom: 5px;
    }
    .north-btn {
        margin-top: 5px;
    }
    .developer {
        padding-right: 0px;
        margin-bottom: 20px;
    }
    .slider-wrapper {
        min-width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .about-image {
        max-width: 100%;
        height: 400px;
    }
    .know-btn {
        margin-top: 25px;
    }
    .slider-wrapper {
        height: 550px;
    }
    .image-container {
        height: 450px;
    }
    .image-gallery {
        padding-left: 50px;
        padding-right: 50px;
    }
    .contact-wrapper {
        min-height: 345px;
    }
    .contact-wrapper .contract {
        padding-left: 0;
    }
    .contact-wrapper .contract h3 {
        font-size: 26px;
    }
}

@media (max-width: 600px) {
    .banner-wrapper {
        min-height: 500px;
        padding: 100px 15px 10px 30px;
    }
    .banner-wrapper p, .about-content h4 {
        font-size: 16px;
        padding-right: 10px;
    }
    .banner-wrapper h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .about-wrapper {
        padding: 60px 0px;
    }
    .about-image {
        max-height: 300px;
    }
    .about-image img {
        height: 270px;
        margin-bottom: 15px;
    }
    .about-content {
        padding: 15px;
    }
    .about-content h5 {
        font-size: 18px;
        line-height: 30px;
    }
    .about-content p {
        font-size: 14px;
        line-height: 23px;
        padding-bottom: 15px;
    }
    .yoopune {
        display: none;
    }
    .management-wrapper, .project-wrapper, .developer-wrapper, .investors-wrapper, .debenture-wrapper, .redressal-wrapper, .image-gallery {
        padding: 0px 25px 0px 25px;
    }
    .redressal-wrapper {
        padding: 45px 25px 35px 25px;
    }
    .gallery-wrapper h2 {
        padding: 45px 25px 20px 25px;
    }
    .slider-wrapper {
        height: 500px;
    }
    .investors-wrapper {
        padding-bottom: 55px;
    }
    .developer p {
        padding-left: 0px;
    }
    .accordion-item-header {
        height: 60px;
    }
    .accordion-item-body-content ul li {
        line-height: normal;
        font-size: 12px;
    }
    .redressal-wrapper .redressal-text .address p, .redressal-wrapper .redressal-text p, .debenture-wrapper .debenture-text p {
        font-size: 13px;
    }
    .image-container {
        height: 350px;
        overflow: hidden;
    }
    .thumbnails label {
        height: 70px;
    }
    .contact-section h2, .contact-wrapper {
        padding: 50px 5px 20px 15px;
    }
    .contact-wrapper .contract {
        padding-left: 0;
    }
    .contact-wrapper .contract h3 {
        font-size: 24px;
        padding-left: 8px;
        padding-bottom: 0px;
    }
    .contact-wrapper .contract h5 {
        padding: 0px 10px 2px 10px;
    }
    .question-wrapper {
        margin-top: 35px;
    }
    .question-wrapper h1 {
        font-size: 24px;
        padding: 50px 15px 40px 20px;
    }
}

@media (max-width: 450px) {
    .icon {
        font-size: 24px;
    }
    .navbar .menu-list {
        width: 85%;
    }
    .banner-wrapper h1 {
        font-size: 34px;
    }
    .management-wrapper, .project-wrapper, .developer-wrapper, .investors-wrapper {
        padding: 0px 15px 60px 15px;
    }
    .redressal-wrapper, .debenture-wrapper {
        padding: 25px 10px 25px 15px;
    }
    .slider-wrapper {
        height: 400px;
    }    
    .north {
        min-height: 800px;
    }
    .know-btn{
        margin-top: 30px;
    }
    .developer p {
        font-size: 12px;
    }
    .investors-wrapper .investors-heading p {
        text-align: justify;
    }
    .accordion, .debenture-wrapper, .redressal-wrapper, .gallery-wrapper, .contact-wrapper, .question-wrapper {
        width: 93%;
    }
    .accordion-item-header {
        font-size: 13px;
    }
    .accordion-item-header::after, .accordion-item-header.active::after {
        right: 10px;
    }
    .gallery-wrapper h2 {
        padding: 45px 15px 20px 15px;
    }
    .image-container {
        height: 300px;
    }
    .image-gallery {
        padding-left: 0px;
        padding-right: 0px;
    }
    .image-gallery label.prev, .image-gallery label.next {
        height: 35px;
        width: 35px;
        line-height: 28px;
    }
    .image-1 figcaption, .image-2 figcaption, .image-3 figcaption, .image-4 figcaption, .image-5 figcaption, .image-6 figcaption, .image-7 figcaption, .image-8 figcaption, .image-9 figcaption {
        font-size: 11px;
        padding: 5px 10px;
    }
    .thumbnails label {
        height: 60px;
    }
    .question-wrapper h1 {
        font-size: 18px;
    }
}

@media (max-width: 390px) {
    .image-container {
        height: 270px;
    }
}

@media (max-width: 350px) {
    .banner-wrapper h1 {
        font-size: 28px;
    }
    .north p {
        text-align: justify;
    }
}

@media (min-width: 610px) {
    .image-gallery label.prev, .image-gallery label.next {
        position: absolute;
        top: 50%;
        z-index: 120;
        color: #fff;
        background-color: #fea500;
        font-size: 30px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        height: 40px;
        width: 40px;
        margin-top: -20px;
        cursor: pointer;
    }
    .image-gallery label.prev {
        left: -45px;
    }
    .image-gallery label.next {
        right: -45px;
    }
    .contact-wrapper {
        padding: 0px 20px 0px 20px;
    }
}